@CHARSET "UTF-8";

$font-size-base:             0.875rem !default;

$input-btn-padding-x:       .625rem !default;
$input-btn-padding-y-sm:    .15rem !default;

$input-btn-padding-y:       .407rem !default;

$input-btn-line-height:     1.25 !default;

$h1-font-size:               1.5rem !default;
$h2-font-size:               1.4rem !default;
$h3-font-size:               1.25rem !default;
$h4-font-size:               1.2rem !default;
$h5-font-size:               1.1rem !default;
$h6-font-size:               1rem !default;

@import "~bootstrap/scss/bootstrap";
