@CHARSET "UTF-8";

$font-size-h1:               1.5rem;
$font-size-h2:               1.4rem;
$font-size-h3:               1.25rem;
$font-size-h4:               1.2rem;
$font-size-h5:               1.1rem;
$font-size-h6:               1rem;

$enable-flex: false;
$bootstrap-sass-asset-helper: true;

@import "~bootstrap/scss/bootstrap";


.btn { 
  @extend .btn-sm; 
}
.form-control{
  @extend .form-control-sm;
}

.Pane{
  padding: 10px;
}

table.dataTable tfoot th, table.dataTable thead th{
    font-size: 13px;
}
table.dataTable.compact tbody th,
table.dataTable.compact tbody td {
    padding: 4px;
    border-right: 1px solid #efefef;
}
table.dataTable.compact tbody th:first-child,
table.dataTable.compact tbody td:first-child {
    padding: 4px;
    border-left: 1px solid #efefef;
}
