/*
@CHARSET "UTF-8";
body div.scroll {
    width: 100%;
    overflow: auto;
}

*/
@media (min-width: 1200px){
  .max-width-970{
      max-width: 970px;
  }
  .max-width-1140{
      max-width: 1140px;
  }
}