.progtrckr {
    list-style-type: none;
    padding: 0;
    background-color: #f8f8f8;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.progtrckr li em {
    color: #fff;
    background: #00bca4;
    display: none;
}

.progtrckr li {
    position: relative;
    float: left;
    padding: 11px 11px 11px 20px;
    margin-right: 0;
    color: #000;
    cursor: default;
}

.progtrckr li:first-child {
    padding-left: 15px;
    border-radius: 4px 0 0 4px;
}

.progtrckr li:before {
    position: absolute;
    top: 0;
    right: -13px;
    display: block;
    border: 22px solid transparent;
    border-right: 0;
    border-left: 14px solid #f8f8f8;
    content: "";
    z-index: 1
}

.progtrckr li.progtrckr-doing {
    color: #ffffff;
    background: #0275d8;
}

.progtrckr li.progtrckr-doing:before {
    position: absolute;
    top: 0;
    right: -13px;
    display: block;
    border: 22px solid transparent;
    border-right: 0;
    border-left: 14px solid #0275d8;
    content: "";
    z-index: 1
}

.progtrckr li.progtrckr-done {
    color: #ffffff;
    background: #01cc52;
}

.progtrckr li.progtrckr-done:before {
    border: 22px solid transparent;
    border-right: 0;
    border-left: 14px solid #01cc52;
}

.formWizard .footer-buttons{
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/*label {*/
    /*width: 100%;*/
/*}*/

/************************************************************/

.formWizard .form-component__title {
/*    display: none;*/
}
.formWizard .table-component__title {
    display: none;
}

.progtrckr li small{
  display: none;
}
