@CHARSET "UTF-8";

@media (min-width: 1200px){
  .formBox.container.formBoxDefault{
    width: 970px;
  }
}
.formBox{

}
.modal-content .formBox {
  margin-top: 0;
}

.formBoxBorder {
  padding: 1em;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.formBox form{
  border: 1px solid #d8d8d8;
  padding: 15px;
  border-radius: 3px;
}
.modal-content .formBox form{
  border: none;
  padding: 0;
}

.formActions {
  margin-top: 0.5rem;
}

.form-inline-mini {
  padding: 5px 12px;
  background-color: #f8f8f8;
  margin-bottom: 10px;
}

/****** Select ******/
.Select-placeholder, .Select--single > .Select-control .Select-value{
  line-height: 30px;
}
.Select-control, .Select-input{
  height: 30px;
}
.Select-option {
  padding: 4px 10px;
}
.Select--multi .Select-value{
  margin-top: 4px;
}
.Select-input > input{
  line-height: 30px;
  padding: 0;
}

.Select-control,
.Select-input,
.Select-clear,
.Select-option {
  font-size: 14px;
}

.Select--sm .Select-placeholder,
.Select--sm .Select--single > .Select-control .Select-value,
.Select--sm .Select-input > input{
  line-height: 23px;
}
.Select--sm .Select-control,
.Select--sm .Select-input{
  border-radius: 0.2rem;
  height: 23px;
}
.Select--sm .Select-control,
.Select--sm .Select-input,
.Select--sm .Select-clear,
.Select--sm .Select-option {
  font-size: 0.76562rem;
}
.Select--sm .Select-option {
  padding: 4px 10px;
}
.Select--sm.Select--multi .Select-value {
  margin-top: 3px;
}

/*.Select-placeholder, .Select--single > .Select-control .Select-value{
  line-height: 1.875rem;
}
.Select-control, .Select-input{
  height: 1.875rem;
  font-size: 0.875rem;
}
.Select-clear {
  font-size: 0.875rem;
}
.Select-option {
  font-size: 0.875rem;
  padding: 0.25rem 0.625rem;
}
.Select--multi .Select-value{
  margin-top: 0.25rem;
}
.Select-input > input{
  line-height: 1.875rem;
  padding: 0;
}*/

/*
.Select-value-label:hover {
  white-space: inherit;
}
.Select-value-label {
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
}
*/