@CHARSET "UTF-8";

.side {
    padding: 10px;
    overflow: auto;
}

.content {
    width: auto;
    overflow: auto;
    padding: 16px;
}

.contextMenu {
    display: none;
}

#app .css-6bx4c3 {
    text-transform: none;
    font-size: 1.1em;
}