@CHARSET "UTF-8";
.language {
    margin: 4px 8px 4px 0px;
    padding: 4px;
    display: inline-block;
    background-color: #DDDDDD;
    cursor: pointer;
    border-radius: 4px;
}
.language:hover {
    background-color: #AACCCC;
}
.selectedLanguage {
    background-color: #40CCCC !important;
    cursor: default !important;
}
