/****** table.dataTable ******/
#quickColumns {
    margin: 0.7em 0;
}
.dataTables_wrapper .dataTables_info {
    padding: 0.7em 0;
}
table.dataTable tfoot th, table.dataTable thead th{
    font-size: 13px;
}
table.dataTable.compact tbody th,
table.dataTable.compact tbody td {
    padding: 4px;
    border-right: 1px solid #efefef;
}
table.dataTable.compact tbody th:first-child,
table.dataTable.compact tbody td:first-child {
    padding: 4px;
    border-left: 1px solid #efefef;
}

table.dataTable thead th,
table.dataTable thead td {
    border-bottom: 1px solid #d8d8d8;
}

table.dataTable,
table.dataTable.no-footer{
    border: 1px solid #d8d8d8;
}

/*******************************************************/
/* egisso colors                                       */
/*******************************************************/
.dataTable thead{
    background: #4181f4;
    color: #fff;
    font-weight: normal;
}
table.dataTable,
table.dataTable.no-footer{
    border: 1px solid #4181f4;
}
.td-strong {
    font-weight: normal;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background: #fff;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr{
    background: #f9f9f9;
}
.Pane {
    background: #f2f2f2;
}
a.menuItemWithRef {
    color: #5b5b5b;
}
.progtrckr {
    background: #ffffff;
}
.formBox form{
    border: 1px solid #d8d8d8;
    padding: 15px;
    background: #fff;
    border-radius: 3px;
}

/****** Select ******/
.Select-placeholder, .Select--single > .Select-control .Select-value{
    line-height: 30px;
}
.Select-control, .Select-input{
    height: 30px;
    font-size: 14px;
}
.Select-clear {
    font-size: 14px;
}
.Select-option {
    font-size: 14px;
    padding: 4px 10px;
}
.Select--multi .Select-value{
    margin-top: 4px;
}
.Select-input > input{
    line-height: 30px;
    padding: 0px 0 0px;
}

/****** init-loader ******/
.document-content .init-loader{
    border:10px solid #f3f3f3;
    border-top:10px solid #3bb3c2;
    border-radius:50%;
    width:80px;
    height:80px;
    animation:spin 1.5s linear infinite;
    margin: 50px auto;
}
@keyframes spin{
    0%{transform:rotate(0)}100%{transform:rotate(360deg)}
}

/************/
.lower-alpha{
    list-style-type: lower-alpha;
}
/**** временны хак, пока не сделаны кастомные формы ********/
.property-group.col-xs-12 {padding-bottom: 30px;}

.up-btn{
    margin-top: -165px;
}

