/*******************************************************/
/* colors                        */
/*******************************************************/
.Pane1 {
  overflow: auto;
}

.Pane2 {
  overflow: auto;
}
.Pane.vertical.pane1 {
  background: #f8f8f8;
}
.side {
  padding: 15px;
}
#document-content___MainDocument {
  padding: 15px;
}
.document-content + .document-content {
  margin-top: 15px;
}
.alert .document-content {
  margin-bottom: 0;
}
a.menuItemWithRef {
  color: #5b5b5b;
}

#app .css-hx30u2 {
  width: 350px;
}
#app .css-6bx4c3 {
  text-transform: none;
  font-size: 1.1em;
}
.s-alert-box {
  z-index: 1500;
}

.helpInfo .btn {
  margin-bottom: 12px;
}
/*******************************************************/
/* egisso colors                     */
/*******************************************************/
/*.dataTable thead{
  background: #4181f4;
  color: #fff;
  font-weight: normal;
}
table.dataTable,
table.dataTable.no-footer{
  border: 1px solid #4181f4;
}
.td-strong {
  font-weight: normal;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background: #fff;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr{
  background: #f9f9f9;
}
.Pane {
  background: #f2f2f2;
}
a.menuItemWithRef {
  color: #5b5b5b;
}
.progtrckr {
  background: #ffffff;
}
.formBox form{
  border: 1px solid #d8d8d8;
  padding: 15px;
  background: #fff;
  border-radius: 3px;
}
*/

/****** error-loader ******/
.document-loader.error {
  background: #f10000;
}
.document-loader.error:before {
  display: none;
}
/************/
.lower-alpha{
  list-style-type: lower-alpha;
}
.navs-component .nav {
  margin-bottom: 15px;
}

.show-modal-btn{
  margin-top: 10px;
}

select.form-control {
  padding: 0.3rem 0.625rem;
}

.btn-secondary-old {
  padding: 0.2rem 0.5rem;
  font-size: 13px;
  color: #373a3c;
  background-color: #fff;
  border-color: #ccc;
}
.btn-secondary-old:hover {
  color: #373a3c;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-secondary-old:focus, .btn-secondary-old.focus {
  color: #373a3c;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-secondary-old:active, .btn-secondary-old.active,
.open > .btn-secondary-old.dropdown-toggle {
  color: #373a3c;
  background-color: #e6e6e6;
  border-color: #adadad;
  background-image: none;
}
.btn-secondary-old:active:hover, .btn-secondary-old:active:focus, .btn-secondary-old:active.focus, .btn-secondary-old.active:hover, .btn-secondary-old.active:focus, .btn-secondary-old.active.focus,
.open > .btn-secondary-old.dropdown-toggle:hover,
.open > .btn-secondary-old.dropdown-toggle:focus,
.open > .btn-secondary-old.dropdown-toggle.focus {
  color: #373a3c;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-secondary-old.disabled:focus, .btn-secondary-old.disabled.focus, .btn-secondary-old:disabled:focus, .btn-secondary-old:disabled.focus {
  background-color: #fff;
  border-color: #ccc;
  box-shadow: none;
}
.btn-secondary-old.disabled:hover, .btn-secondary-old:disabled:hover {
  background-color: #fff;
  border-color: #ccc;
}
.btn-secondary-old.disabled, .btn-secondary-old:disabled {
  opacity: .65;
  color: #373a3c;
  background-color: #fff;
  border-color: #ccc;
}