.property-error .help-block{
  color: #920000;
}

.property-group {
  border-top: 1px solid rgb(216, 216, 216);
  margin-top: 1.2em;
  padding-top: 1em;
  position: relative;
}

.property-groop-box {

}

.property-group:first-child{
  border-top: none;
}

.property-group__title {
  top: -1em;
  position: absolute;
  background-color: white;
  padding: 3pt;
  /*font-size: 1.6em;*/
  margin: 0 0 0 -3px;
}

.form-control-feedback {
  font-size: 0.875em;
}

.has-danger .form-control-feedback {
  color:#b90000;
}

.form-group.required .form-control-label:after,
.form-check.required .form-check-label:after{
  content:"*";
  color:#b90000;
  margin-left: 2px;
}

.property-label .form-control-label {
  margin: 0;
}

.display-none{
  display: none;
}

.form-check.property {
  margin-bottom: 0.5rem;
}

/*.form-group.required .form-control-label,
.form-check.required .form-check-label{
  font-weight: bold;
}*/