#UNIQUE_ID_OF_DIV {
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    width: 100%;
}
.queryBuilder .CodeMirror {
    height: 100%;
}

.queryBuilder .SplitPane {
    position: relative!important;
}