@CHARSET "UTF-8";
.role {
  padding: 2px 10px;
	white-space: nowrap;
}
.role input[type="checkbox"] {
	display: inline;
	margin-top: 0;
	top: 2px;
	position: relative;
}
.role label {
	display: inline;
	padding-left: 8px;
}
.roleBox_add-actions{
	padding: 2px 10px;
	min-width: 200px;
}
