@CHARSET "UTF-8";
.rowCheckbox {
  margin: 0 !important;
  top: 2px;
  position: relative;
}
.rowIndex {
  display: inline;
  font-size: 100%;
}
.ta-left {
  text-align: left;
}
.ta-right {
  text-align: right;
}
.ta-center {
  text-align: center;
}
.td-strong{
  font-weight: bold;
}
#quickColumns span {
  padding: 0 8px 0 0;
  display: inline-block;
}
#quickColumns input {
  top: 2px;
  position: relative;
  margin-right: 3px;
}

.document-reload {
  opacity: 0.7;
  padding: 4px 4px;
  cursor: pointer;
}

.document-reload:hover {
  opacity: 1;
}

.document-reload.active {
  opacity: 0.2;
}

.operationList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.btn-outline-secondary {
  color: #363b40;
}

.operationList a {
  margin-bottom: 4px;
}
/*.operationBtn {*/
  /*display: inline-block;*/
  /*padding: 8px;*/
  /*margin: 4px;*/
  /*background-color: #DDDDDD;*/
  /*cursor: pointer;*/
  /*border-radius: 4px;*/
  /*color: black;*/
  /*text-decoration: none;*/
/*}*/
/*.operationBtn:hover {*/
  /*background-color: #AACCCC;*/
/*}*/
/*.operationBtn:active {*/
  /*background-color: #40CCCC;*/
/*}*/
/*.operationBtn.disabled {*/
  /*color: gray;*/
  /*cursor: default;*/
/*}*/
/*.operationBtn.disabled:hover {*/
  /*background-color: #DDDDDD;*/
/*}*/
/*.operationBtn.disabled:active {*/
  /*background-color: #DDDDDD;*/
/*}*/

#quickColumns {
  margin: 0.7em 0;
}

/****** table.dataTable ******/
table.dataTable {
  width: auto;
  margin: 0;
}
.table-striped-light tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.dataTables_wrapper .dataTables_info {
  padding: 0.7em 0 0;
}

.table-bordered thead th, .table-bordered thead td {
  border-bottom-width: 1px;
  border-top-width: 0;
}

.page-link {
  padding: 0.423rem 0.7rem;
}

div.dataTables_wrapper div.dataTables_length select {
  width: 120px;
  border-color: #dee2e6;
}

.dataTables-nav {
  margin-top: 14px;
}
@media (min-width: 1200px){
  .dataTables-nav {
    min-width: 650px;
  }
}

.dataTables_length {
  margin: 2px 0 2px 0;
  float: left;
}
div.dataTables_wrapper div.dataTables_paginate {
  float: left;
  margin: 0 10px 0 0;
}
div.dataTables_wrapper div.dataTables_info {
  padding-top: 0.33rem;
  float: right;
}

.dataTables_length label{
  margin-bottom: 0;
}

div.dataTables_wrapper div.dataTables_processing {
  display: none!important;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
  font-size: 0.75rem;
}
table.dataTable.table-sm .sorting:before, table.dataTable.table-sm .sorting_asc:before, table.dataTable.table-sm .sorting_desc:before,
table.dataTable.table-sm .sorting:after, table.dataTable.table-sm .sorting_asc:after, table.dataTable.table-sm .sorting_desc:after {
  top: 4px;
}


.dataTables_length select.form-control {
  padding: 0.1875rem 0.5rem 0.25rem;
  font-size: 13px;
  line-height: 1.5;
  height: auto!important;
}

.page-link {
  padding: 0.2rem 0.5rem;
  font-size: 13px;
  line-height: 1.5;
}

/*table.dataTable tfoot th, table.dataTable thead th{*/
    /*font-size: 13px;*/
/*}*/
/*table.dataTable.compact tbody th,*/
/*table.dataTable.compact tbody td {*/
    /*padding: 4px;*/
    /*border-right: 1px solid #efefef;*/
/*}*/
/*table.dataTable.compact tbody th:first-child,*/
/*table.dataTable.compact tbody td:first-child {*/
    /*padding: 4px;*/
    /*border-left: 1px solid #efefef;*/
/*}*/

/*table.dataTable thead th,*/
/*table.dataTable thead td {*/
    /*border-bottom: 1px solid #d8d8d8;*/
/*}*/

/*table.dataTable,*/
/*table.dataTable.no-footer{*/
    /*border: 1px solid #d8d8d8;*/
/*}*/
/*table.dataTable.compact th {*/
    /*border-bottom-width: 2px;*/
/*}*/
/*table.dataTable.compact tfoot th, table.dataTable.compact tfoot td {*/
    /*padding: 4px;*/
/*}*/
/*table.dataTable tfoot th, table.dataTable tfoot td {*/
    /*border-top: 2px solid #d8d8d8;*/
/*}*/
/*table.dataTable.compact tbody td:last-child {*/
    /*border-right: 0;*/
/*}*/
/*table.dataTable.display tbody tr td:first-child {*/
    /*border-left: 0;*/
/*}*/