@CHARSET "UTF-8";
.rowCheckbox {
    margin: 0 !important;
}
.rowIndex {
    display: inline;
    font-size: 100%;
}
.ta-left {
    text-align: left;
}
.ta-right {
    text-align: right;
}
.ta-center {
    text-align: center;
}
.td-strong{
    font-weight: bold;
}
#quickColumns span {
    padding: 0 8px 0 0;
    display: inline-block;
}
#quickColumns input {
  top: 2px;
  position: relative;
  margin-right: 3px;
}

table.dataTable {
  width: auto;
  margin: 0;
}

.table-reload {
  opacity: 0.7;
  padding: 4px 4px;
  cursor: pointer;
}

.table-reload:hover {
  opacity: 1;
}

.table-reload.active{
  opacity: 0.2;
}

.operationList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 24px;
}
.operationList a {
    margin-bottom: 4px;
}
.operationBtn {
    display: inline-block;
    padding: 8px;
    margin: 4px;
    background-color: #DDDDDD;
    cursor: pointer;
    border-radius: 4px;
    color: black;
    text-decoration: none;
}
.operationBtn:hover {
    background-color: #AACCCC;
}
.operationBtn:active {
    background-color: #40CCCC;
}
.operationBtn.disabled {
    color: gray;
    cursor: default;
}
.operationBtn.disabled:hover {
    background-color: #DDDDDD;
}
.operationBtn.disabled:active {
    background-color: #DDDDDD;
}
